html,
body {
    height: 100%;
    margin: 0;
    background: var(--muted);
    color: #222;
    font-family: cursive;
}

.main-wrap {
    display: flex;
}

.navbar {
    width: 220px;
    background: #c8102e;
    height: 100vh;
}

.title-text {
    padding: 4px;
    text-decoration: none;
}

.breadgrum-content {
    padding-left: 70px;
}

h3 {
    color: white;
}

.main-wrap .navbar .navbar-nav .nav-list {
    margin: 0;
    padding: 10px 10px;
}

.main-wrap .navbar .navbar-nav .nav-list .nav-list-item {
    list-style: none;
    padding: 10px 19px;
    cursor: pointer;
    border-radius: 6px;
}

.main-wrap .navbar .navbar-nav .nav-list .nav-list-item .nav-link {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 10px;
}
.main-wrap .navbar .navbar-nav .nav-list .nav-list-item .nav-link .link-text{
    font-weight: bold;
    padding: 8px;
    padding-bottom: 4px;
}

a {
    text-decoration: none;
}

.fa{
    color: black !important;
    font-size: 15px !important;
}

label{
    font-weight: 600;
}

.main-wrap .navbar .navbar-nav .nav-list .nav-list-item:hover {
    background: #a80e26;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.custom-header {
    top: 0;
    left: 0;
    right: 0;
    height: 58px;
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    z-index: 50;
}

.conten-section {
    padding: 12px;
}

.alert {
    background: #d4edda;
    border: 1px solid var(--success-border);
    padding: 12px 16px;
    border-radius: 6px;
    color: hsl(134, 65%, 24%);
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
}

.menu-btn {
    width: 40px;
    height: 38px;
    border-radius: 6px;
    background: #c8102e;
    ;
    color: white;
    border: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}



/*Item Page Design*/
.page-grid {
    display: grid;
    grid-template-columns: minmax(400px, 320px) 1fr;
    gap: 20px;
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .page-grid {
        grid-template-columns: 1fr;
    }
}



.item-card-section {
    background: yellowgreen;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.stock-card-section {
    background: rgb(205, 179, 50);
    border-radius: 4px;
}

.box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.box-header {
    background: #d9293a;
    /* Red banner */
    color: white;
    padding: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.box-body {
    padding: 20px;
    font-size: 16px;
}

.stock-box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    height: 400px;
}

.stock-box-header {
    background: #d9293a;
    /* Red banner */
    color: white;
    padding: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.stock-box-body {
    padding: 20px;
    font-size: 16px;
}

.popup-body{
    padding: 20px;
    font-size: 16px;
    width: 400px;
    height: 700px;
}

.export-btn {
    background: #18a3ba;
    border: none;
    color: black;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.export-btn i {
  margin-right: 6px; /* change value as you like */
}

.popup-btn{
    
    background: #6f757e;
    border: none;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

/*#0dc9f4 #18a3ba #6f757e #1fbf55*/

form {
    display: flex;
    flex-direction: column;
    gap: 14px
}

/* .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px
} */

label {
    display: block;
    margin-bottom: 4px; /* Adjust space */
    font-weight: 400;
}

.box-header span i {
    margin-right: 8px;  /* Adjust spacing as you like */
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=date],
input[type=number],
select,
textarea {
    width: 95%;
    padding: 8px 5px;
    border-radius: 8px;
    border: 1px solid #e6e9ef;
    background: white;
    font-size: 14px;
    outline: none;
    margin-bottom: 0px;
}

input:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 0 4px rgba(79, 70, 229, 0.06);
    border-color: var(--accent)
}

.btn-row {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 18px;

}

textarea {
    min-height: 100px;
    resize: vertical
}

/* Fullscreen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; /* move popup to top area */
  padding-top: 80px; /* adjust height from top */
  z-index: 1000;
}

.popup {
  width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


/* dashboard page design */

.dash-wrap {
    max-width: 100%;
    margin: 17px;
    padding: 27px;
}

.page-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ===== TOP CARDS ===== */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    display: flex;
    gap: 75px; /* LEFT icon, RIGHT text */
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.card-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 26px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    text-align: right;  /* Align text to right side */
}

.card-content h3 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #222;
}

.card-content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
}

.card-icon.yellow i {
    color: #fcb53b !important;
    font-size: 32px !important;
} 

.card-icon.blue i {
    color: #50d8f7 !important;
    font-size: 32px !important;
} 

.card-icon.green i {
    color: #5cb338 !important;
    font-size: 32px !important;
}

.card-icon.red i {
    color: #d70654 !important;
    font-size: 32px !important;
}

/* ===== PANELS (CHART SECTIONS) ===== */
.grid-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.panel {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.panel-header {
    padding: 12px 18px;
    color: #fff;
    font-weight: bold;
}

.red-bg {
    background: #e63946;
}

.panel-body {
    padding: 20px;
}

.chart-box {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-size: 16px;
}

